.idea
.vs
.vsconfig
*.csproj
Library
Logs
obj
*.sln
*.xmind
Temp
BuildPackage
BuildPackageVS
ResourcesFiles
StreamingAssets
LocalIl2CppData
hybridclr_repo
il2cpp_plus_repo
AssembliesPostIl2CppStrip
HotFixDlls
Wolong_100