.idea
.vs
.vsconfig
*.csproj
Library
Logs
obj
*.sln
*.xmind
Temp
BuildPackage
BuildPackageApk
RuntimeInspector
BuildPackageVS
ResourcesFiles
StreamingAssets
LocalIl2CppData
HybridCLRData/hybridclr_repo
HybridCLRData/il2cpp_plus_repo
HybridCLRData/HotUpdateDlls
HybridCLRData/iOSBuild
HybridCLRData/LocalIl2CppData-WindowsEditor
AssembliesPostIl2CppStrip
HotFixDlls
Wolong_100
Assets/Deer/AssetsHotfix/Assembly
CommitResources/setup/cwRsync4_client_jb51
LubanTools/setup/proto
BuildPackageIOS