.idea
.vs
.vsconfig
*.csproj
Library
Logs
obj
*.sln
*.xmind
Temp
BuildPackage
BuildPackageApk
RuntimeInspector
BuildPackageVS
ResourcesFiles
StreamingAssets
LocalIl2CppData
hybridclr_repo
il2cpp_plus_repo
AssembliesPostIl2CppStrip
HotFixDlls
Wolong_100
HybridCLRData
Assets/Deer/AssetsHotfix/Assembly
CommitResources/setup/cwRsync4_client_jb51
LubanTools/setup/proto
BuildPackageIOS