<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RelativePath" value="/Config/" />
    <add key="ExtensionFilter" value=".KFPCfg|.txt|.xml|.mp4" />
    <add key="InputPath" value="H:\workcode\workcode\newprojectsvn\OutConfig\Client" />
    <add key="OutPath" value="H:\workcode\workcode\newprojectsvn\OutConfig" />
    <add key="Version" value="1.0.0.2" />
  </appSettings>
</configuration>